### Questions-->  https://drive.google.com/file/d/1ANog7uJ7eH6EQXpYmqwwVjbuPF30KsNc/view

### Problem Statement 1:

In [1]:
import pandas as pd 
import numpy as np
import math
from scipy.stats import norm
import scipy.stats as stats

In [2]:
Female=[60,54,46,41]
Male=[40,44,53,57]
s=[40,60]
b=[44,54]
m=[53,46]
p=[57,41]
marks= Male + Female
print(marks)
sex=['M','M','M','M','F','F','F','F']
edu = ['High School', 'Bachelors', 'Masters', 'Ph.d.','High School', 'Bachelors', 'Masters', 'Ph.d.']
df_edu = pd.DataFrame({"Sex":sex,"Edu":edu,"Marks":marks})


print(df_edu)
cross_tab = pd.crosstab([df_edu.Sex,df_edu.Marks],df_edu.Edu,margins=True)

[40, 44, 53, 57, 60, 54, 46, 41]
  Sex          Edu  Marks
0   M  High School     40
1   M    Bachelors     44
2   M      Masters     53
3   M        Ph.d.     57
4   F  High School     60
5   F    Bachelors     54
6   F      Masters     46
7   F        Ph.d.     41

In [3]:
df2=pd.crosstab(df_edu.Sex, df_edu.Edu, df_edu.Marks, aggfunc='sum', margins=True)
df2.columns=['Bachelors','High School',  'Masters', 'Ph.d.','total_row']
df2.index=['F','M','total_col']
df2

           Bachelors  High School  Masters  Ph.d.  total_row
F                 54           60       46     41        201
M                 44           40       53     57        194
total_col         98          100       99     98        395

In [4]:
observed= df2.iloc[0:2,0:4]
observed

   Bachelors  High School  Masters  Ph.d.
F         54           60       46     41
M         44           40       53     57

In [5]:
expected=np.outer(df2['total_row'][0:2], df2.loc['total_col'][0:4])/ 395.0
expected= pd.DataFrame(expected)
expected.columns=['Bachelors','High School','Masters','Ph.d']
expected.index=['F','M']
expected

   Bachelors  High School    Masters       Ph.d
F  49.868354    50.886076  50.377215  49.868354
M  48.131646    49.113924  48.622785  48.131646

In [6]:
#Chi-Square
chi_sqr=(((observed - expected)**2)/expected).sum().sum()
chi_sqr

4.7949471625311855

In [7]:
#Critical value
C=stats.chi2.ppf(q=0.95, df=3)
C

7.814727903251179

In [8]:
#P-value
P= 1-stats.chi2.cdf(x=chi_sqr, df=3)
P

0.1874427943620075

### Problem Statement 2:

In [9]:
group1=[51,45,33,45,67]
group2=[23,43,23,43,45]
group3=[56,76,74,87,56]
#perform ANOVA
statistic, pvalue= stats.f_oneway(group1,group2,group3)
print('F statistic value {}, pvalue{}'.format(statistic,pvalue))
if pvalue < 0.05:
    print('True')
else:
    print('False')

F statistic value 9.747205503009463, pvalue0.0030597541434430556
True

### Problem Statement 3:

In [10]:
stats.f_oneway([10,20,30,40,50],[5,10,15,20,25])

F_onewayResult(statistic=3.6, pvalue=0.0943497728424377)

In [11]:
a=[10,20,30,40,50]
b=[5,10,15,20,25]

mean_a=np.mean(a)
mean_b=np.mean(b)
a_sub_mean_a= []
b_sub_mean_b= []
add_a =0
add_b =0
for items in a:
    add_a += (items - mean_a)**2
for items in b:
    add_b += (items - mean_b)**2
var1= add_a/(len(a)-1)
var2= add_b/(len(b)-1)
f_test= var1/var2
print('ftest of the given values 10,20,30,40,50 and 5,10,15,20,25 is:', f_test)

ftest of the given values 10,20,30,40,50 and 5,10,15,20,25 is: 4.0